# أدوات التطوير
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# بيئة التطوير
.env
.venv
.idea/
.vscode/
*.swp
*.swo

# ملفات النظام
.DS_Store
Thumbs.db
